@if (User.Identity.IsAuthenticated)
{
    <li><a href="@Url.Action("Logout", "Account")">Выйти</a></li>
    if (!User.Identity.Name.Equals("Admin"))
    {
        <li>@Html.ActionLink("Редактировать", "Edit", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Редактирование профиля" })</li>
    }

    if (User.Identity.Name.Equals("Admin"))
    {
        <li><a href="@Url.Action("Index", "Carrier")">Администрирование </a></li>
    }
}

else
{
    <li>@Html.ActionLink("Войти", "Login", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Вход в систему" })</li>
    <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Регистрация пользователя" })</li>
}
