@using KitchenEquipment.Extension
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<KitchenEquipment.Models.ExhaustHoodViewModel>


<div class="row" id="ajax-main-exhausts-content">
@foreach (var key in Model)
{
    <div class="col-md-4 text-center col-sm-6 col-xs-6">
        <div class="thumbnail product-box">
            @Html.Raw("<img style='width:166px; height:162px;' src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(key.Image) + "\" />")
            <div class="caption">
                <h3><a href="#">@key.CompanyName @key.Name @key.Width</a></h3>
                <h4>(@key.CompanyCountry)</h4>
                <p>Цена: <strong>@key.Price рур.</strong></p>

                <table class='table table-borderless small'>
                    <tr class="text-left">
                        <td>Тип: </td>
                        <td><strong>@key.Type.GetDisplayName()</strong></td>
                    </tr>
                    <tr class="text-left">
                        <td>Цвет: </td>
                        <td><strong>@key.Color</strong></td>
                    </tr>
                    <tr class="text-left">
                        <td>Ширина: </td>
                        <td><strong>@key.Width см.</strong></td>
                    </tr>
                </table>
                <p><a href="#" class="btn btn-success" role="button">В корзину</a> <a href="#" class="btn btn-primary" role="button">Дополнительно</a></p>
            </div>
        </div>
    </div>
}
</div>
<div class="row" id="contentPager">

    @Html.PagedListPager(Model, page => Url.Action("Exhausts", new { page = page }),
        new PagedListRenderOptions {
            UlElementClasses = new [] { "pagination alg-right-pad" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })

</div>
<script>
    $(document).ready(function () {
        $(document).on("click",
            "#contentPager a[href]",
            function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#exhausts').html(result);
                    }
                });
                return false;
            });
    })
</script>